<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  
  {% block page_meta %}
  <meta name="description" content="{{ config.description | default(value='') | truncate(length=150) }}">
  {% endblock page_meta %}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path="tailwind.min.css") }}">
</head>

<body>
  <section class="section">
    <div class="header"></div>
  </section>
  <section class="section">
    <div class="main">
      {% block content %} {% endblock content %}
    </div>
  </section>
</body>

</html>