{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  
  {% block page_meta %}
  <meta name="description" content="{{ config.description | default(value='') | truncate(length=150) }}">
  {% endblock page_meta %}

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path="tailwind.min.css") }}">
  {% if config.generate_feed %}
  <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% endif %}
</head>

<body>
  <div class="container">
    <header>
      <h1 class="title">
        <a href="{{ config.base_url }}">{{ config.title }}</a>
      </h1>
    </header>
    <main>
      {% block content %}
        {% if paginator.pages %}
        {% for page in paginator.pages %}
          {{ page_macros::page_listing(page=page) }}
        {% endfor %}
        {{ page_macros::page_pagination(paginator=paginator) }}
        {% else %}
        {% for page in section.pages %}
          {{ page_macros::page_listing(page=page) }}
        {% endfor %}
        {% endif %}
      {% endblock content %}
    </main>
    <footer>
      <p>© {{ config.title }} {{ now() | date(format="%Y") }}</p>
    </footer>
  </div>
</body>
</html>
